*{
	padding:0;
	margin:0;
}

body{
	background-color: #000;
}

.nav{
	float:right;
	margin-top: 10vh;
}


.info{
	padding-top:30px;
}

a{
	text-decoration: none;
	color: white;
	text-align: center;
	background-color: #000;
}

li{
	list-style: none;	
}

.nav-link{
	padding:20px 70px;
}

h1{
	color: white;
	font-size: 90px;
	font-family: 'Ubuntu', sans-serif;
}


h2{
	color: #8d8d8d;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 3px;
	font-family: 'Open Sans', sans-serif;
}

.name{
	padding-top: 20vh;
}

.project1,
.project2,
.project3{
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: white;
	text-align: center;
}

.project{
	margin-top: 30vh;
	margin-right:15px; 
	margin-left:15px;
}


.project1:hover{
	color: #08fdd8;
}

.project2:hover{
	color: #08fdd8;
}

.project3:hover{
	color: #08fdd8;
}

.project:hover{
	color: #08fdd8;
}

a:hover{
	color: #08fdd8;
	transform: scale(1.1);
}

.a1{
	display: inline;
}

.aha{
	color: white;
}










/*media queries*/


/*Small devices*/
@media only screen and (max-width: 450px){ 
	h1{
		font-size: 50px;
		text-align: center;
		margin-top: 10px;
		letter-spacing: 5px;
	}

	h2{
		font-size: 15px;
		text-align: center;
	}
	.portfolio{
		font-size: 30px;
		letter-spacing: 2px;
		border: 1px solid white;
		padding: 15px 25%;
		text-align: center;

	}

	.project{
		margin-top: 3vh;
	}

	#icon{
		position: relative;
		top: -50px;
		left: -120px;
	}

	a:hover{
	color: #08fdd8;
	transform: scale(1);
	}

	.nav-link{
		padding:10px 100px;
	}

	.nav{
		float:right;
		margin-top: 5px;
	}
}

/*tablets*/
@media only screen and (max-width: 768px){ 
	.project{
		margin-top: 3vh;
	}

	.nav-link{
		padding:20px 20px;
	}

}

/*Large devices*/
@media only screen and (max-width: 992px){
 }